doctype html
html.app(lang="en", ng-app="eve-overseer")

  head

    block title
      title EVE Online Overseer
    base(href="/")
    link(rel="stylesheet", href="/app.css")
    script(type="text/javascript", src="/app.js")

  body
    block content
      div(ng-view)
