extends layouts/default

block title
  title Not Found - EVE Online Overseer

block content
  .container
    h1 Captain ! There's a four-o-four at your twelve!
    p.lead Sorry, you're lost in space ...
