<nav ng-include="'/partials/navigation.html'"></nav>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="active">Squad</a></li>
  </ol>

  <div class="characters">
    <div class="media" ng-repeat="character in characters">
      <a class="pull-left" href="/character/{{ character.id }}">
        <img ng-src="{{ character.picture.medium }}">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="/character/{{ character.id }}">{{ character.name }}</a></h4>
        <small class="text-muted">{{ character.corporation.name }}</small>
      </div>
    </div>
  </div>
</div>
