<nav ng-include="'/partials/navigation.html'"></nav>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li><a href="/">Squad</a></li>
    <li class="active">Identification Sheet {{ character.id }}</li>
  </ol>

  <div class="row" ng-cloak>
    <div class="col-xs-12">
      <div class="media">
        <div class="pull-left">
          <img class="img-thumbnail hidden-xs" ng-src="{{ character.picture.large }}">
        </div>
        <div class="media-body">
          <h1 class="media-heading">{{ character.name }}</h1>
          <div class="row">
            <div class="col-xs-6">
              <fieldset>
                <legend>General</legend>
                <dl class="dl-horizontal">
                  <dt>Race<dt><dd>{{ character.race }}</dd>
                  <dt>Bloodline<dt><dd>{{ character.bloodline }}</dd>
                  <dt>Ancestry<dt><dd>{{ character.ancestry }}</dd>
                  <dt>Birthdate<dt><dd>{{ character.birthdate | date : 'mediumDate' }}</dd>
                  <dt>Alliance<dt><dd>{{ character.alliance.name }}</dd>
                  <dt>Corporation<dt><dd>{{ character.corporation.name }}</dd>
                  <dt>Faction<dt><dd>{{ character.faction.name }}</dd>
                </dl>
              </fieldset>

            </div>
            <div class="col-xs-6">
              <fieldset>
                <legend>Attributes</legend>
                <dl class="dl-horizontal">
                  <dt ng-repeat-start="(label, attribute) in character.attributes">{{ label | capitalize }}</dt>
                  <dd ng-repeat-end>
                    {{ attribute.value + attribute.enhancer.value  }}
                    <button
                      class="btn btn-link btn-xs"
                      title="{{ label | capitalize }} Enhancer"
                      data-html="true"
                      data-toggle="popover"
                      data-content="<strong>{{ attribute.enhancer.name }}</strong> : &plus;{{ attribute.enhancer.value }}"
                      data-exclusive="true"
                      ng-if="attribute.enhancer.value">
                      <span class="glyphicon glyphicon-question-sign"></span>
                    </button>
                  </dd>
                </dl>
              </fieldset>
            </div>

            <div class="col-xs-12">
              <fieldset>
                <legend>Skill Queue</legend>

                <skill-queue />
              </fieldset>
            </div>

            <div class="col-xs-12">
              <fieldset>
                <legend>Skills</legend>

                <skill-tree />
              </fieldset>
            </div>

            <div class="col-xs-12">
              <fieldset>
                <legend>Wallet Transactions</legend>

                <wallet />
              </fieldset>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
