<div id="skill-radar" class="skill-overview">

  <div class="row">
    <div class="col-xs-10">
      <div
        angular-multi-select
        input-model="modernBrowsers"
        output-model="outputBrowsers"
        item-label="<[value]> - <[ name ]>"
        button-label="<[name]>"
        button-label-separator='[" | ", ""]'
        tick-property="checked"
        button-template="angular-multi-select-btn-data.htm"
        ng-if="modernBrowsers.length"
        on-item-click="fClick(item)"
        group-property="sub"
        >
      </div>


      <cjs-radar dataset="myData" options="someOptions" width="900" height="500" ></cjs-radar>
    </div>
  </div>
</div>